{% extends 'base.html.twig' %}

{% block body %}

        <!-- Begin page content -->

        <main role="main" class="container">

          <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
                <img class="mr-3" src="https://getbootstrap.com/assets/brand/bootstrap-outline.svg" alt="" height="18">
              </div>
              <button type="button" class="btn btn-success"><a href="{{ path('_new') }}" class="add_book_send">Додати книгу</a></button>
              <div class="my-3 p-3 bg-white rounded box-shadow">
                <h6 class="border-bottom border-gray pb-2 mb-0" id="all_book">Всі книги</h6>

                {% for book in books %}
                    <div class="media text-muted pt-3">
                      <img src="{{ book.img }}" alt="" width="70" height="70" class="mr-2 rounded">
                      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <a href="{{ path('_show', { 'id': book.id }) }}">
                        <strong class="d-block text-gray-dark" title="переглянути">{{ book.name }}</strong>
                        </a>
                        {{ book.description }}
                        <span class="ter">
                            <br>
                            <strong>Автор: </strong>{{ book.autor }}
                        </span>
                      </p>
                    </div>
                {% endfor %}
                
                <small class="d-block text-right mt-3">
                  <a href="#">Покази всі</a>
                </small>
              </div>

        </main>

{% endblock %}
